@page "/"
@layout HomeLayout

@using RoadSide.Helpers
@using RoadSide.Models

@inject UserService _userService
@inject RoadSideAuthenticationStateProvider _roadSideAuthenticationStateProvider
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="card shadow-sm mt-5">
        <div class="row ">
            <div class="col-4 ">
                <img src="/images/roadside_80.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8 ">
                <div class="card-body">
                    <h5 class="card-title">Welcome to RoadSide</h5>
                    <button type="button" @onclick="SignIn" class="btn btn-primary mt-3" style="width:80%"><i class="bi bi-box-arrow-right"></i>&nbsp;Sign In</button><br />
                    <button type="button" @onclick="Register" class="btn btn-primary mt-3" style="width:80%"><i class="bi bi-pencil-square"></i>&nbsp;Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_roadSideAuthenticationStateProvider.Username != null){
            // User? user = await _userService.FetchUserFromBrowser();
            // if (user.isAuthenticated)
            // {
                  //  _navigationManager.NavigateTo("Report");
             }
        }
    }
    private async Task SignIn()
    {
        _navigationManager.NavigateTo("SignIn");
    }

    private async Task Register()
    {
        _navigationManager.NavigateTo("Register");
    }
}
