@page "/"
@layout HomeLayout

@using RoadSide.Helpers
@using RoadSide.Models

@inject NavigationManager _navigationManager
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="card shadow-sm mt-5">
        <div class="row ">
            <div class="col-4 ">
                <img src="/images/roadside_80.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8 ">
                <div class="card-body">
                    <h5 class="card-title">Welcome to RoadSide</h5>
                    <button type="button" @onclick="SignIn" class="btn btn-primary mt-3" style="width:80%"><i class="bi bi-box-arrow-right"></i>&nbsp;Sign In</button><br />
                    <button type="button" @onclick="Register" class="btn btn-primary mt-3" style="width:80%"><i class="bi bi-pencil-square"></i>&nbsp;Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private void SignIn()
    {
        _navigationManager.NavigateTo("SignIn");
    }

    private void Register()
    {
        _navigationManager.NavigateTo("Register");
    }
}
