@page "/Register"
@layout HomeLayout

<PageTitle>Register</PageTitle>

@using SharedProject1.Models.DTO
@using BlazorBootstrapToasts
@using RoadSide.Services
@using System.Text.Json;

@inject NavigationManager _navigationManager
@inject IHttpService _httpService

<div class="container-fluid">
    <div class="card shadow-sm mt-5">
        <div class="card-body">
            <div class="card-title">
                <h2>Register</h2>
            </div>
            <Toast @ref="Toast"></Toast>

            <EditForm Model="@Model" OnSubmit="Submit" FormName="form1">
                <label class="form-label">Email</label>
                <InputText class="form-control" @bind-Value="Model.Email" type="email" />

                <label class="form-label">Phone Number</label>
                <InputText class="form-control" @bind-Value="Model.PhoneNumber" type="tel" />

                <label class="form-label">Password</label>
                <InputText type="password" class="form-control" @bind-Value="Model.Password" />

               <div class="text-center mt-3">
                    <button type="button" @onclick="@GoBack" class="btn btn-secondary"><i class="bi bi-box-arrow-left"></i>&nbsp;Back</button>
                    <button type="Submit" class="btn btn-primary"><i class="bi bi-floppy"></i>&nbsp;Submit</button>
                </div>
               
            </EditForm>
        </div>
    </div>

</div>

@code {
    public RegisterDTO Model = new();
    public Toast Toast { get; set; }

    private async Task Submit()
    {
        string result = await _httpService.PostAsyncString<RegisterDTO>("Identity/Register", Model);

        IdentityResultDTO identityResultDTO = JsonSerializer.Deserialize<IdentityResultDTO>(result);
        if (!identityResultDTO.Succeeded)
        {
            foreach (var error in identityResultDTO.Errors)
                await Toast.Show("danger", "Error " + error, 3000);

        }
        else
        {
            await Toast.Show("success", "Thank you. A confirmation email has been sent.", 3000);

            _navigationManager.NavigateTo("/");
        }  
    }

    private async Task GoBack()
    {
        _navigationManager.NavigateTo("/");
    }
}
