@page 

@model Api.Pages.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="shadow rounded p-3" style="margin-left:auto;margin-right:auto;margin-top:5%;width:400px;">
    <div class="row ">
        <div class="col-12 text-center">
            <h1>Reset Password</h1>
        </div>
    </div>

    <form id="form1" method="post">
        <div class="form-group row row-cols-1 pb-2">
            <div class="col mb-3">
                <label for="password1" class="form-label">New Password</label>
                <input id="password1" type="password" class="form-control" asp-for="Password" />
               </div>
            <div class="col">
                <label for="password2" class="form-label">Confirm Password</label>
                <input id="password2" type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row row-cols-1 pt-2 justify-content-center">
            <div class="col-md-auto">
                <button id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
      
    </form>
</div>
<partial name="_ValidationScriptsPartial" />

